---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import BlogIndex from '../../components/blog/BlogIndex';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Blog | Portfolio">
	<main class="min-h-screen bg-background relative overflow-hidden">
        {/* Ambient Backgroud Glows */}
        <div class="absolute top-0 left-1/4 w-96 h-96 bg-primary/20 rounded-full blur-[100px] pointer-events-none"></div>
        <div class="absolute bottom-0 right-1/4 w-96 h-96 bg-purple-600/10 rounded-full blur-[100px] pointer-events-none"></div>

		<BlogIndex client:load posts={posts} />
	</main>
</Layout>
